.NavBar{
    width: 100%;
    background-color: #4fb695;
    float: left;
    Font-style: Arial;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
}

#Logo{
    width: 160px;
    margin: 5px 20px;
    float: left;
    margin-left: 30px;
}

.altLogLogo{
    width: 25px;
    height: 25px;
    margin: 5px;
    float: left;
}

.Login {
    width: 400px;
    background-color: #c4c4c4;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.568);
    margin: 40px;
    float: left;
    position: fixed;
    top: 30px;
    left: 32%;
}

  
.Login h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #dee0e4;
    color: #0b4935;
    margin: 10px;
}

.Login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loginFormRow {
    float: left;
    margin: 4px;
    width: 97%;
}

.formItem{
    float: left;
    width: 300px;
    margin: 10px 20px;
}

.formItem2{
    float: left;
    width: 774px;
    margin: 10px 20px;
}

.Login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #23755b;
    float: left;
}

.Login form input[type="password"], .Login form input[type="text"], .Login form input[type="email"] {
    width: 275px;
    height: 58px;
    border: 1px solid #dee0e4;
    padding: 0 15px;
    float: left;
    color: black;
    background-color: #f1f1f1;
}

::placeholder{
    color: #353434;
}

.Login form input[type="submit"] {
    width: 362px;
    padding: 15px;
    margin: 15px 0 5px 12px;
    background-color: #0c704f;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color:  #FFFFFF;
    transition: background-color 0.2s;
    border-radius: 8px;
    float: left;
}

.Login form input[type="submit"]:hover {
    background-color: #d3fff0;
    color: #0b4935;
    transition: background-color 0.2s;
  }

.errMsg{
      width: 100%;
      text-align: center;
      font-size: 18px;
      color: #353434;
      font-weight: bolder;
      background-color: #ffec83e1;
      margin: 8px 0;

  }

  .formFooter, .formFooter p{
    text-align: center;
    font-size: 16px;
    color: #353434;
    margin: 20px;
    font-weight: bold;
  }

  
.altLogin{
    width: 270px;
    background-color: #c4c4c4;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.568);
    margin: 40px;
    float: left;
    position: fixed;
    top: 60px;
    right: 20%;
}


.altLoginRow{
    float: left;
    margin: 5px;
    width: 260px;
    height: 40px;
    background-color: #e8e8e8;
}

.altLoginRow:hover{
    background-color: #ffffff;
}


.altLoginRow h3{
    color: #0b4935;
    float: left;
    margin: 5px;
    height: 40px;
    font-size: 18px;
}

#ErrMsg{
    background-color:#4fb695;
    color:#0b4935;
    width: 357px;
    margin: 10px;
    padding: 5px;
    display: none;
}
