.Home{
    width: 100%;
    justify-items: center;
}

.MainContent{
    width: 96%;
    height: 500px;
    background-color: #f1f1f1;
    color: black;
    float: left;
    justify-content: center;
    margin: 25px;
}

.BigPanel{
    background-color: #c4c4c4;
    margin: 10px;
    padding: 20px;
    width: 60%;
    height: 440px;
    float: left;
}

.BigPanel h2 {
    font-size: 30px;
    padding: 5px 5px 20px 5px;
    border-bottom: solid 2px #1d3b31;
    width: 96%;
    color: #1d3b31;
    margin: auto;
    text-align: center;
    justify-content: center;
}


.PanelItem {
    background-color: #282c34;
    font-size: 18px;
    color: white;
    margin: 24px 12px;
    margin-bottom: 30px;
    width: 92.5%;
    text-align: left;
    padding: 2px 20px;
}

.PanelItem:hover{
    background-color: #d3fff0;
    color: #1d3b31;
    font-weight: bold;
}


.SearchBar{
    width: 95%;
    color: white;
    margin: 10px;
    margin-left: 12px;
    padding: 5px 10px;
    background-color: #282c34;
    float: left;
    font-size: 16px;
}

.Sort{
    width: 33%;
    height: 44px;
    float: left;
}

.Search{
    width: 65%;
    float: right;
    height: 44px;
}

.SearchBar input {
    height: 20px;
    width: 350px;
    float: left;
    margin: 10px;
}

.SearchBar p {
    height: 30px;
    float: left;
    margin: 10px;
    font-size: 18px;
}


#Chat{
    background-color: #c4c4c4;
    margin: 10px;
    padding: 20px;
    width: 30%;
    height: 440px;
    float: left;
}


.chatWindow{
    background-color: #282c34;
    width: 99%;
    height: 99%;
    float: left
}


.chatWindow h2 {
    font-size: 24px;
    padding: 5px 5px 20px 5px;
    border-bottom: solid 2px #d3fff0;
    width: 92%;
    color: #d3fff0;
    margin: 5px 10px;
    text-align: center;
    justify-content: center;
}

#chatEntryForm{
    width:94.5%;
    height: 300px;
    padding: 20px 5px;
    margin: 40px 5px;
}

#chatEntryForm label{
    font-size:20px;
    width: 270px;

    float: left;
    margin: 20px 15% 5px 15%;
}

#chatEntryForm select{
    font-size:20px;
    width: 250px;
    height: 35px;
    float: left;
    margin: 10px 20%;
    padding: 5px;
}

#chatEntryForm button{
    font-size:20px;
    width: 200px;
    margin: 40px 25%;
    height: 40px;
    background-color: #0c704f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

#ChatOverlay{
    display: none;
}
