.Authorisations{
    width: 100%;
}


.awaitingAuthorisationsList, .myAuthorisations {
    width: 45%;
    height: 440px;    
    float: left;
    border: white 5px solid;
    background-color: #c4c4c4;
    margin: 20px;
}

.awaitingAuthorisationsList h2, .myAuthorisations h2{
    font-size: 30px;
    padding: 5px 5px 20px 5px;
    border-bottom: solid 2px #1d3b31;
    width: 96%;
    color: #1d3b31;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.myAuthorisations{
    float: right;
}

.authorisationsRow{
    background-color: #282c34;
    width: 95%;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.authorisationsRow:hover{
    background-color: #7bcfb3;
}


