.Authorisations{
    width: 100%;
}


.awaitingAuthorisationsList, .myAuthorisations {
    width: 98%;
    height: 360px;    
    float: left;
    background-color: #282c34;
    margin: 10px;
}

.myAuthorisations{
    float: right;
    margin: 10px 5px;
}

.myAuthorisations a{
    color: #1d3b31;
}

.authorisationsRow{
    background-color: #7bcfb3;
    width: 95.7%;
    margin: 10px;
    padding: 5px;
    text-align: left;
    height: 65px;
    color: #1d3b31;
}

.authorisationsRow2{
    background-color: #7bcfb3;
    width: 92%;
    margin: 10px;
    padding: 5px;
    text-align: left;
    height: 40px;
    color: #1d3b31;
    font-size: 20px;
}


.mainDetails{
    float: left;
    width: 98%;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
}
.dateCreated {
    float: left;
    width: 45%;
    font-size: 16px;
    padding: 2px;
}

.UserName{
    float: right;
    width: 300px;
    font-size: 16px;
    padding: 2px;
}

.rowLeft{
    float: left;
    width: 90%;
    padding: 5px;
}

.rowRight{
    float: right;
    height: 20px;
    margin: 5px;
}


.assignBtn{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    background-color: #1d3b31;
    border: #1d3b31;
    border-radius: 8px;
    color: #f1f1f1;
}

.rowLeft2{
    float: left;
    width: 85%;
    padding: 5px;
}

.rowRight2{
    float: right;
    height: 38px;
    width: 38px;
}

.removeAssign{
    width: 36px;
    height: 36px;
    margin: 1px;
    background-color: #1d3b31;
    border: #1d3b31;
    border-radius: 8px;
    color: #f1f1f1;
}



.assignBtn:hover, .removeAssign:hover {
    color: #1d3b31;
    background-color: #f1f1f1;
}