
.newRequestForm{
    background-color: #c4c4c4;
    margin: 10px 20px;
    padding: 20px;
    height: 445px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.newRequestForm h2 {
    font-size: 30px;
    padding: 5px 5px 20px 5px;
    border-bottom: solid 2px #1d3b31;
    width: 98%;
    color: #1d3b31;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.formMain{
    background-color: #282c34;
    margin: 10px;
    padding: 20px;
    width: 95.5%;
    height: 320px;
    float: left;
}

.formRow{
    width: 100%;
    float: left;
}

.formSection{
    width: 48%;
    margin: auto;
    padding: 10px;
    float: left;
}

.formSectionA, .formSectionB{
    width: 22%;
    margin: auto;
    padding: 10px;
    float: left;
}


.formSection label, .formSectionA label,.formSectionB label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    float: left;
    padding: 10px;
    font-size: 18px;
    color: #f1f1f1;
    font-weight: bold;
    position: apsolute;
    width: 120px;
    text-align: left;
    float: left;
}

.radioLabel{
    font-size: 14px;
    font-weight:normal;
}

.formSection-wide #audiobook{
    width: 130px;
}

.formSectionA label, .formSectionB label {
    width: 92px;
}

.formSection input[type="text"], .formSectionA input[type="number"], .formSectionB input[type="number"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    border: solid rgb(204, 203, 203) 1px;
    height: 25px;
    padding: 4px 8px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 5px;
    font-size: 16px;
    float: left;
    color: black;
    border-radius: 4px;
}

.formSection select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    border: solid rgb(204, 203, 203) 1px;
    height: 35px;
    padding: 4px 8px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 5px;
    font-size: 14px;
    float: left;
    color: black;
    border-radius: 4px;
}

#year, #price{
    width: 70px;
    margin-left: 35px;
}

#price{
    width: 100px;
}

#submitFormBtn {
    width: 60%;
    height: 50px;
    padding: 15px;
    margin-top: 24px;
    background-color: #0c704f;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.2s;
    border-radius: 8px;
}

#submitFormBtn:hover {
    background-color: #d3fff0;
    color: #0c704f;
  }


  #format{
    float: left;
    width: 256px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin-left: 8px;
    font-size: 16px;
    color: black;
}
