.User{
    width: 100%;
    justify-items: center;
}

.UserDashboard{
    width: 100%;
    position: fixed;
    top: 60px;
}

.LeftPanel{
    background-color: #c4c4c4;
    margin: 10px;
    padding: 20px;
    width: 59%;
    height: 450px;
    float: left;
}

.RightPanel{
    background-color: #c4c4c4;
    margin: 10px 20px 10px 0;
    padding: 20px;
    width: 430px;
    height: 450px;
    float: right;
}

.LeftPanel h2, .RightPanel h2{
    font-size: 30px;
    padding: 5px 5px 20px 5px;
    border-bottom: solid 2px #1d3b31;
    width: 96%;
    color: #1d3b31;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.UserList{
    width: 96%;
    height: 350px;
    color: white;
    margin: 10px;
    margin-left: 12px;
    padding: 5px;
    background-color: #282c34;
    float: left;
    font-size: 16px;
    overflow-y: scroll;
}


/*  ///////////////////////////////////     SEARCH AND SORT BAR   ////////////////////////////////////////// */

/* .SearchBar{
    width: 95%;
    color: white;
    margin: 10px;
    margin-left: 12px;
    padding: 5px 10px;
    background-color: #282c34;
    float: left;
    font-size: 16px;
}

.Sort{
    width: 33%;
    height: 44px;
    float: left;
}

.Search{
    width: 65%;
    float: right;
    height: 44px;
}

.SearchBar input {
    height: 20px;
    width: 350px;
    float: left;
    margin: 10px;
}

.SearchBar p {
    height: 30px;
    float: left;
    margin: 10px;
    font-size: 18px;
} */


/* /////////////////////////////////////    USERS LIST PANEL    ///////////////////////////////////////// */

.userItemRow{
    width: 96%;
    margin: 5px;
    float: left;   
    background-color: #7bcfb3;
    color: black;
    height: 40px;
    text-align: left;
    padding-left: 20px;
}

.userItemRow:hover{
    background-color: #d3fff0;
    font-weight: bold;
}

.singleUser{
    width:98%;
}

.userName{
    font-size: 19px;
    width: 50%;
    font-weight: bold;
    color: #1d3b31;
    text-align: left;
    float: left;
    padding: 5px;
}

.userDate{
    width: 40%;
    float: right;
    font-size: 19px;
    font-weight: bold;
    color: #1d3b31;
    text-align: right;
    margin-left: 30px;
    margin-right: 10px;
    padding: 5px;
}


.card{
    background-color: #282c34;
    color: white;
    margin: 10px 5px;
    text-align: left;
    padding: 20px 5px;
    width: 98%;
    overflow-y: scroll;
}

.card tr{
    border: white 1px solid;
    padding: 5px 0px;
    margin:0;
}

.cardHeader{
    margin-right: 20px;
    color: #7bcfb3;
    font-size: 18px;
    vertical-align: top;
}

.cardDetails{
    width: 200px;
    text-align: left;
    font-size: 16px;
}

#editUser{
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34c0;
    z-index: 2; 
    cursor: pointer; 
}

#deleteUser, #resetPasswords, #AuthLimit, #ChangeUserType {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34c0;
    z-index: 2; 
    cursor: pointer; 
}


.ActionBtn3, .ActionBtn-3wide, .ActionBtn-3widest {
    width: 80px;
    height: 30px;
    margin: 10px;
    background-color: #0c704f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    float: left;
}
.ActionBtn-3wide{
    width: 170px;
}

.ActionBtn-3widest{
    width: 175px;
    height: 45px;
}

.ActionBtn3:Hover, .ActionBtn-3wide:hover{
    background-color: #d3fff0;
    color: #0b4935;
    transition: background-color 0.2s;
}

.overlayBtnPanel{
    height: 55px;
    margin: auto;
    padding-left: 400px;
}

/* ///////////////// AUTH LIMIT OVERLAY/////////////// */

#changeUserAuth{
    width: 98%;
    height: 70px;
    float: left;
    margin: 10px;
    padding: 10px;
}

#changeUserAuth label{
    width: 100px;
    height: 30px;
    padding: 5px 20px;
    font-size: 20px;
}

#changeUserAuth input[type="number"]{
    width: 200px;
    height: 30px;
    padding: 5px;
}

#changeUserType input[type="radio"]{
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

.authFormSection{
    float: left;
    width: 47%;
    height: 50px;
    padding: 10px;  
}

.authFormSection select{
    float: left;
    width: 47%;
    height: 50px;
    padding: 10px;
    margin-left: 40%;  
    font-size: 18px;
}




.AuthBtn{
    width: 280px;
    height: 40px;
    margin: 5px;
    background-color: #0c704f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    float: left;
}

.AuthBtn:hover{
    background-color: #d3fff0;
    color: #0b4935;
    transition: background-color 0.2s;
}

#userType{
    font-size: 20px;
    float: left;
}
