.NavBar{
    width: 100%;
    background-color: #4fb695;
    float: left;
    Font-style: Arial;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
}

#Logo{
    width: 160px;
    margin: 5px 20px;
    float: left;
    margin-left: 30px;
}

.Register {
    width: 51%;
    height: 500px;
    background-color: #c4c4c4;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.568);
    margin: 40px 270px;
    float: left;
    position: fixed;
    top: 30px;
    left: 30px;
    
}
  
.Register h1 {
    text-align: center;
    color: #0b4935;
    font-size: 30px;
    padding: 8px 0 16px 0;
    border-bottom: 2px solid #dee0e4;
    margin: 10px;
}

.Register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.regFormRow{
    float: left;
    margin: 4px;
    width: 98%;
}

.regFormItem{
    float: left;
    width: 300px;
    margin: 10px 20px;
}

.regFormItem2{
    float: left;
    width: 640px;
    margin: 10px 20px;
}

.Register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #318369;
    float: left;
}

.Register form input[type="password"], .Register form input[type="text"], .Register form input[type="email"] {
    width: 72%;
    height: 48px;
    border: 1px solid #dee0e4;
    padding: 0 15px;
    float: left;
    color: black;
    background-color: #f1f1f1;
}
.Register form input[type="email"]{
    width: 555px;
}

::placeholder{
    color: #353434;
}



  .Register form input[type="submit"] {
    width: 650px;
    padding: 15px;
    margin-top: 20px;
    background-color: #0c704f;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color:  #FFFFFF;
    transition: background-color 0.2s;
    border-radius: 8px;
  }
  .Register form input[type="submit"]:hover {
    background-color: #d3fff0;
    color: #0b4935;
    transition: background-color 0.2s;
  }

  .formFooter, .formFooter p{
    text-align: center;
    font-size: 16px;
    color: #353434;
    margin: 20px;
    font-weight: bold;
  }

  